# Python temporary files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
env/
.env

# Data & Notebooks (Optional: ignore large CSVs if they are over 100MB)
*.csv
.ipynb_checkpoints/

# IDE settings
.vscode/
.idea/
